# Created by .ignore support plugin (hsz.mobi)
### Plone template
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Sass template
/static/styles/.sass-cache/
*.css.map

